@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(calc(360deg / 4));
  }
  50% {
    transform: rotate(calc(360deg / 2));
  }
  75% {
    transform: rotate(calc(360deg - 360deg / 4));
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes quarterRotation {
  0% {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(calc(360deg - 360deg / 4));
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes muveTopWhite {
  0% {
    left: 10%;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 10%;
  }
}
@keyframes muveBottomWhite {
  0% {
    right: 20%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 10%;
  }
}
@keyframes muveTopWhiteFull {
  0% {
    left: 10%;
  }
  30% {
    left: 100%;
    top: -10px;
  }
  45% {
    left: 100%;
    top: 60px;
  }
  75% {
    left: -10%;
    top: 60px;
  }
  90% {
    left: -10%;
    top: -10px;
  }
  100% {
    left: 10%;
  }
}
@keyframes muveBottomWhiteFull {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        bottom: -10px;
        right: calc(100% - 40px);
    }
    45% {
        bottom: 100%;
        right: calc(100% - 40px);
    }
    75% {
        bottom: 100%;
        right: 0;
    }
    90% {
        bottom: -10px;
        right: -15px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
  }

/* Execise 1 */
.ex-1-square {
  transition: all 1s ease-in-out;
}
.ex-1-square:hover {
  background-color: red;
}
/* / Execise 1 */

/* Execise 2 */
.ex-2-square {
  transition: all 1s ease-in-out;
}
.ex-2-square:active {
  width: 100%;
}
/* / Execise 2 */

/* Execise 3 */
.ex-3-square {
  transition: all 1s ease-in-out;
}
.ex-3-square:hover {
  border-radius: 50%;
}
/* / Execise 3 */

/* Execise 4 */
.ex-4-square {
  transition: all 1s ease-in-out;
}
.ex-4-square:hover {
  opacity: 0;
}
/* / Execise 4 */

/* Execise 5 */
.ex-5-square {
  transition: all 1s ease-in-out;
}
.ex-5-square:hover {
  transform: scale(2);
}
.ex-5-square:active{
    transform: scale(1)
}
/* / Execise 5 */

/* Execise 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}
/* / Execise 6 */

/* Execise 7 */
.ex-7-img {
  transition: all 1s ease-in-out;
}
.ex-7-img:hover {
  filter: grayscale(1) sepia(0.5);
}
/* / Execise 7 */

/* Execise 8 */
.ex-8-img {
  transition: all 1s ease-in-out;
}
.ex-8-img:hover {
  filter: grayscale(0.5) sepia(0.5);
  border-radius: 20px;
}
/* / Execise 8 */

/* Execise 9 */
.ex-9-img {
  transition: all 1s ease-in-out;
}
.ex-9-img:hover {
  filter: grayscale(0.5) sepia(0.5);
  transform: scale(1.5);
  border-radius: 20px;
}
/* / Execise 9 */

/* Exercise 10 */
.ex-10-icon {
  animation: rotation 1s linear infinite;
}
/* Exercise 10 */

/* Exercise 11 */
.ex-11-icon:hover {
  animation: quarterRotation 2s linear backwards;
}
/* Exercise 11 */

/* Exercise 12 */
.ex-12-button:hover .ex-12-top-white {
  animation: muveTopWhite 1s linear;
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: muveBottomWhite 1s linear;
}
/* / Exercise 12 */

/* Exercise 13 */
.ex-13-button:hover .ex-13-top-white {
  animation: muveTopWhiteFull 2s linear;
}
.ex-13-button:hover .ex-13-bottom-white {
  animation: muveBottomWhiteFull 2s linear;
}
/* / Exercise 13 */
