/* Execise 1 */
.ex-1-square{
    transition: all 1s ease-in-out;
}
.ex-1-square:hover{
    background-color: red;
}
/* / Execise 1 */

/* Execise 2 */
.ex-2-square{
    transition: all 1s ease-in-out;
}
.ex-2-square:active{
    width: 100%;
}
/* / Execise 2 */

/* Execise 3 */
.ex-3-square{
    transition: all 1s ease-in-out;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* / Execise 3 */
